In [1]:
#Imports
import pandas as pd
import os

In [2]:
file_to_load = os.path.join("Resources", "purchase_data.csv")

In [3]:
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
total_count = len(purchase_data["SN"].unique())

In [6]:
total_count_df = pd.DataFrame({"Total Players":[total_count]})
total_count_df

   Total Players
0            576

In [7]:
total_unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
Num_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#pd.options.display.float_format = '${:,.2f}'.format
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[total_unique_items],
                                       "Average Price":[avg_price],
                                       "Number of Purchases":[Num_of_purchases],
                                       "Total Revenue":[total_revenue]})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map('${:,.2f}'.format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map('${:,.2f}'.format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
# Get just the unique players data set
unique_purchase_data = purchase_data.drop_duplicates(subset="SN")

# Group by Genders
grouped_genders = unique_purchase_data.groupby(['Gender'])

In [9]:

# Get the total of each gender
total_genders = grouped_genders['SN'].count()
# Get the percentage of each player
percentage_of_players = total_genders*100/total_count

# Show the Gender Demographics Gender
gender_demographics = pd.DataFrame({"Total Count": total_genders,
                                    "Percentage of Players": percentage_of_players})
# Remove the index header
gender_demographics.index.name = None
# Applying float format and % symbol
gender_demographics["Percentage of Players"] =  gender_demographics["Percentage of Players"].map('{:,.2f}%'.format)
# Reordering the rows
gender_demographics = gender_demographics.reindex(["Male","Female","Other / Non-Disclosed"])

# Show the result
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [10]:
# The total info grouped by gender
grouped_total_genders = purchase_data.groupby(['Gender'])

# The total of purchases
purchase_count = grouped_total_genders["SN"].count()

# The average purchase price
avg_purchase_price = grouped_total_genders["Price"].mean()

# The total purchase value
total_purchase_value = grouped_total_genders["Price"].sum()

# The average total purchase per person, this value needs to use the unique users.
avg_total_purchase_per_person = total_purchase_value/total_genders

# The new Data Frame containing the analysis by gender
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price":avg_purchase_price.map("${:,.2f}".format),
                                    "Total Purchase Value":total_purchase_value.map("${:,.2f}".format),
                                    "Avg Total Purchase per Person":avg_total_purchase_per_person.map("${:,.2f}".format)})
# The info output
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
unique_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
# Bins for ages
age_bins = [0,9,14,19,24,29,34,39,100]
# Labels for ages
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Assign to Age group the labels acording to the bin values
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
# The duplicated values were dropped
single_purchase_data = purchase_data.drop_duplicates(subset="SN")

# Total count
ages_total_count = single_purchase_data.groupby("Age Ranges")["Age"].count()
# Percentage of players
percent_of_players = (ages_total_count * 100)/total_count

# The age demographics info
age_demographics = pd.DataFrame({"Total Count":ages_total_count,
                                 "Percentage of Players":percent_of_players.map("{:,.2f}%".format)})

# Remove the index header
age_demographics.index.name = None

# The info output
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [13]:
grouped_by_age = purchase_data.groupby("Age Ranges")
age_purchase_count = grouped_by_age["Purchase ID"].count()

# The average purchase price
age_avg_purchase_price = grouped_by_age["Price"].mean()

# The total purchase value
age_total_purchase_value = grouped_by_age["Price"].sum()

# The average total purchase per person, this value needs to use the unique users.
age_avg_total_purchase_per_person = age_total_purchase_value/ages_total_count

# The new Data Frame containing the analysis by gender
age_purchasing_analysis = pd.DataFrame({"Purchase Count": age_purchase_count,
                                    "Average Purchase Price":age_avg_purchase_price.map("${:,.2f}".format),
                                    "Total Purchase Value":age_total_purchase_value.map("${:,.2f}".format),
                                    "Avg Total Purchase per Person":age_avg_total_purchase_per_person.map("${:,.2f}".format)})
# The info output
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [14]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [48]:
# The orginal data is grouped by SN
grouped_by_user = purchase_data.groupby('SN')

# Using the grouped data to count the total
sn_total_count = grouped_by_user["SN"].count()

# Using the grouped data to get the average purchase price
sn_avg_purchase_price = grouped_by_user["Price"].mean()

# Using the grouped data to sum the purchase price
sn_total_purchase_price = grouped_by_user["Price"].sum()

# The new Data Frame containing the analysis by SN
user_purchasing_analysis = pd.DataFrame({"Purchase Count": sn_total_count,
                                         "Average Purchase Price":sn_avg_purchase_price,
                                         "Total Purchase Value":sn_total_purchase_price})
# The sorted info
sorted_values = user_purchasing_analysis.sort_values(["Total Purchase Value"], ascending=False)

# The format is applied after the sorting to avoid conflicts with the $ simbol
sorted_values["Average Purchase Price"] = sorted_values["Average Purchase Price"].map('${:,.2f}'.format)
sorted_values["Total Purchase Value"] = sorted_values["Total Purchase Value"].map('${:,.2f}'.format)

# The info output
sorted_values.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [65]:
# Data Frame with just 3 columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Grouped by two columns
group_by_item_id_and_name = items_df.groupby(["Item ID", "Item Name"])

# The items count
item_purchase_count = group_by_item_id_and_name["Price"].count()

# The average item price
item_price = group_by_item_id_and_name["Price"].mean()

# The total item purchase value
total_purchase_value = group_by_item_id_and_name["Price"].sum()

# The new Data Frame containing the analysis by SN
popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                              "Item Price":item_price,
                              "Total Purchase Value":total_purchase_value})

# Sorted by purchase count
sorted_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False)

# The format is applied after the sorting to avoid conflicts with the $ simbol
sorted_popular_items["Item Price"] = sorted_popular_items["Item Price"].map('${:,.2f}'.format)
sorted_popular_items["Total Purchase Value"] = sorted_popular_items["Total Purchase Value"].map('${:,.2f}'.format)

# The info output
sorted_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [68]:
# Items sorted by purchase value
sorted_purchase_value_items = popular_items.sort_values(["Total Purchase Value"], ascending=False)

# The format is applied after the sorting to avoid conflicts with the $ simbol
sorted_purchase_value_items["Item Price"] = sorted_purchase_value_items["Item Price"].map('${:,.2f}'.format)
sorted_purchase_value_items["Total Purchase Value"] = sorted_purchase_value_items["Total Purchase Value"].map('${:,.2f}'.format)

# The info output
sorted_purchase_value_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80