In [1]:
#Imports
import pandas as pd
import os

In [2]:
file_to_load = os.path.join("Resources", "purchase_data.csv")

In [3]:
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
total_count = len(purchase_data["SN"].unique())

In [6]:
total_count_df = pd.DataFrame({"Total Players":[total_count]})
total_count_df

   Total Players
0            576

In [7]:
total_unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
Num_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#pd.options.display.float_format = '${:,.2f}'.format
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[total_unique_items],
                                       "Average Price":[avg_price],
                                       "Number of Purchases":[Num_of_purchases],
                                       "Total Revenue":[total_revenue]})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map('${:,.2f}'.format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map('${:,.2f}'.format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [16]:
# Get just the unique players data set
unique_purchase_data = purchase_data.drop_duplicates(subset="SN")

# Group by Genders
grouped_genders = unique_purchase_data.groupby(['Gender'])

In [17]:

# Get the total of each gender
total_genders = grouped_genders['SN'].count()
# Get the percentage of each player
percentage_of_players = total_genders*100/total_count

# Show the Gender Demographics Gender
gender_demographics = pd.DataFrame({"Total Count": total_genders,
                                    "Percentage of Players": percentage_of_players})
# Remove the index header
gender_demographics.index.name = None
# Applying float format and % symbol
gender_demographics["Percentage of Players"] =  gender_demographics["Percentage of Players"].map('{:,.2f}%'.format)
# Reordering the rows
gender_demographics = gender_demographics.reindex(["Male","Female","Other / Non-Disclosed"])

# Show the result
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [18]:
# The total info grouped by gender
grouped_total_genders = purchase_data.groupby(['Gender'])

# The total of purchases
purchase_count = grouped_total_genders["SN"].count()

# The average purchase price
avg_purchase_price = grouped_total_genders["Price"].mean()

# The total purchase value
total_purchase_value = grouped_total_genders["Price"].sum()

# The average total purchase per person, this value needs to use the unique users.
avg_total_purchase_per_person = total_purchase_value/total_genders

# The new Data Frame containing the analysis by gender
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price":avg_purchase_price.map("${:,.2f}".format),
                                    "Total Purchase Value":total_purchase_value.map("${:,.2f}".format),
                                    "Avg Total Purchase per Person":avg_total_purchase_per_person.map("${:,.2f}".format)})
# The info output
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,$3.17,$256.43,$3.17
Male,484,$3.05,"$1,474.70",$3.05
Other / Non-Disclosed,11,$3.41,$37.52,$3.41

In [19]:
unique_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [33]:
# Bins for ages
age_bins = [0,9,14,19,24,29,34,39,100]
# Labels for ages
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Assign to Age group the labels acording to the bin values
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
# The duplicated values were dropped
single_purchase_data = purchase_data.drop_duplicates(subset="SN")

# Total count
ages_total_count = single_purchase_data.groupby("Age Group")["Age"].count()
# Percentage of players
percent_of_players = (ages_total_count * 100)/total_count

# The age demographics info
age_demographics = pd.DataFrame({"Total Count":ages_total_count,
                                 "Percentage of Players":percent_of_players.map("{:,.2f}%".format)})

# Remove the index header
age_demographics.index.name = None

# The info output
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%